@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 8px #07d, inset 0 0 8px #07d;
    }
    50% {
        box-shadow: 0 0 16px #07d, inset 0 0 14px #07d;
    }
    100% {
        box-shadow: 0 0 8px #07d, inset 0 0 8px #07d;
    }
}

@-webkit-keyframes pulse-red {
    0% {
        box-shadow: 0 0 8px #e14151, inset 0 0 8px #e14151;
    }
    50% {
        box-shadow: 0 0 16px #e14151, inset 0 0 14px #e14151;
    }
    100% {
        box-shadow: 0 0 8px #e14151, inset 0 0 8px #e14151;
    }
}

.ring {
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    i {
        color: #07d;
        margin: auto;
        margin-left: -0px;
        text-align: center;
        margin-top: 10px;
    }
    &.noactive {
        i {
            color: #e14151;
        }
    }
    &.active {
        i {
            color: #f6f;
        }
    }
}

.ring.active:before {
    border: 5px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    animation: spinner .6s linear infinite;
}

.ring:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0%;
    left: 10px;
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 5px solid #07d;
    border-top-color: #37aef6;
    border-right-color: #07d;
    border-bottom-color: #37aef6;
    animation: spinner 1s linear infinite;
}

.ring.noactive:before {
    border: 5px solid #e14151;
    border-top-color: #e14151;
    border-right-color: #e14151;
    border-bottom-color: #e14151;
    box-shadow: 0 0 8px #e14151, inset 0 0 8px #e14151;
    animation: pulse-red 1s linear infinite;
}
